@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

body{
    font-family: 'Poppins', sans-serif;
}

/*---------------- text-color or bacground color----------------------- */
.bgc-nav{
    background-color: rgba(238, 238, 238, 0.966);
}
.gradient-text {
    font-size: 72px;
     background: -webkit-linear-gradient(18deg, rgb(145, 145, 146) 0%, rgba(255,115,238,0.7766456924566701) 52%, rgba(0,212,255,1) 100%);
     -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}


.pink-color{
    color: #f82bdda2;
}
.linear-color{
    background: linear-gradient(18deg, rgb(145, 145, 146) 0%, rgba(255,115,238,0.7766456924566701) 52%, rgba(0,212,255,1) 100%);
}

.linear-color-btn{
    background: linear-gradient(18deg, rgba(145, 145, 146, 0.178) 0%, rgba(255, 115, 239, 0.24) 52%, rgba(0, 213, 255, 0.226)100%);
}

.btn_bg_color{
    background-color: rgba(255, 255, 255, 0.856);
}

.fontColor-hot{
    color: #402c3f;
}

.address-bg{
    background-color: rgb(252, 226, 252);
}

.in_touch_color{
    background-color: rgb(126, 213, 253);
}


/*--------font size------------*/

.font-size-p{
    font-size: 14px;
}

.font-size-h2{
    font-size: 30px;
}


/*---------- border radius -----------*/

.border-radius-hot{
    border-radius: 22px;
}